form
{
}
.card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    margin: 10% 0 10% 33%;
}

.container
{
    padding: 2px 16px;
    height: 100%;
}
input
{
    width: 60%;
    margin: 20px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
    border-radius: 10px;
}
.btn
{
    width: 100px;
    height: 50px;
    background: #1977F2;
    color: White;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}
h3{position:absolute;
   margin-top:30px;}
   ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}